body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    width: 400px;
    background-color: red;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px 20px 0px 0px;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 70px;
}

h2 {
    font-weight: normal;
}

h1, h2 {
    margin: 0px;
}

main {
    margin-left: 10px;
    font-size: 1.5rem;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 40px;
    text-align: center;
    width: 400px;

}

footer {
    height: 35px;
    background-color: red;
    width: 400px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 10px;

}

section {
    width: 400px;
    text-align: center;
}

#green:hover {
    background-color: lightgreen; 
}

#blue:hover {
    background-color: lightblue;
}

#pink:hover {
    background-color: pink;
}

button {
    border-radius: 2rem;
};

